@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway:wght@800&display=swap');


li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    margin-right: auto;
}

header {
    display: flex;
    align-items: center;
    padding: 0px 0%;
}

.nav_links {
    left: 20px;
    grid-area: box1;
}

.nav_links li {
    display: inline-flex;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    color: #042f5a;
}

.nav_links li a:hover {
    color: #229dceb9
}

button {
    padding: 9px 25px;
    background-color: rgba(235, 235, 235, 0.719);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(71, 141, 233, 0.774);
}

.card {
    position: relative;
    margin: 20px;
}
.card .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.card:hover .img-top {
    display: flex;
}

.cta {
    position: relative;
    right: 0px;
    color: #0088a9;
}

body {
    display: inline;
    background-image: url(../img/babyhorse.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
}

h1 {
    color: #f3f3f3ce;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#text1 {
display: block;
}