@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: 3399ff;
    text-decoration: none;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.nav_links {
    left: 20px;
}

.nav_links li {
    display: inline-flex;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    color: #042f5a;
}

.nav_links li a:hover {
    color: #0088a9
}

button {
    padding: 9px 25px;
    background-color: rgba(74, 111, 233, 0.719);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgb(74, 111, 233);
}

.card {
    position: relative;
    display: inline-flex;
}
.card .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.card:hover .img-top {
    display: inline;
}

.cta {
    position: fixed;
    right: 50px;
    color: 0088a9;
}

body {
    background-image: url(../img/babyhorse.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
}